.profile-dropdown {
    margin-top: 16px;
}
.icon-list-demo i {
    font-size: 22px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin-right: 0px;
}
.blog-img .dropify-wrapper{
    height: 280px;
}
